<div
  class="text-stone-50 drop-shadow-md rounded-lg relative w-full h-full bg-white bg-opacity-10 border border-opacity-30 border-b-0 border-r-0 backdrop-filter backdrop-blur-sm box-border px-10 py-16"
>
  <h1 class="text-xl font-bold">Меня зовут Райчева Эвелина Николаевна</h1>
  <p class="text-lg font-base mt-6">
    Я специалист в области <strong>гинекологии</strong>, здесь Вы можете
    записаться ко мне на прием.
  </p>
  <p class="mt-6">
    Принимаю по будням с <strong>9:00</strong> до <strong>17:00</strong>.
  </p>
  <p class="mt-6">Мой контактный телефон: <strong>+373(777)24-634</strong></p>
  <p class="mt-6">
    Мое местонахождение: <strong>г.Бендеры, ул. Протягайловская д. 4</strong>
  </p>
</div>
