<div class="bg-slate-200 w-screen h-screen flex justify-center items-center">
  <mat-card class="w-[400px] h-[375px] p-[30px] flex flex-col items-center">
    <mat-card-header>
      <h2>Админ панель</h2>
    </mat-card-header>
    <mat-card-content class="w-full h-full">
      <form
        class="w-full h-full flex flex-col justify-between"
        [formGroup]="adminForm"
        (ngSubmit)="onFormSubmit()"
      >
        <mat-form-field appearance="outline">
          <mat-label>Логин</mat-label>
          <input
            type="text"
            matInput
            placeholder="Введите логин"
            name="login"
            formControlName="login"
          />
          <mat-icon matSuffix>login</mat-icon>
          <mat-error *ngIf="adminForm.get('login')?.hasError('required')">
            Пожалуйста введите логин!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Пароль</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Введите пароль"
            name="password"
            formControlName="password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="adminForm.get('password')?.hasError('required')">
            Пожалуйста введите пароль!
          </mat-error>
        </mat-form-field>

        <div *ngIf="errorMessageStatus" class="text-red-500">
          {{ errorMessage }}
        </div>

        <div>
          <button
            type="submit"
            [disabled]="!adminForm.valid"
            mat-stroked-button
          >
            <mat-icon>input</mat-icon>
            {{ buttonText | uppercase }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
