<section
  class="bg-main-bg bg-no-repeat bg-center bg-cover w-screen h-screen flex justify-center pt-20"
>
  <form
    class="flex flex-col space-y-4 w-[600px] h-[600px] bg-slate-50 p-4 rounded-sm"
    [formGroup]="patientForm"
    (ngSubmit)="onFormSubmit()"
  >
    <div class="flex">
      <button class="bg-red-600">назад</button>
      <legend class="text-xl font-bold">Заполните форму для записи</legend>
    </div>
    <mat-divider></mat-divider>
    <mat-form-field>
      <mat-label>Ваше имя и фамилия</mat-label>

      <input
        matInput
        type="text"
        placeholder="Имя и Фамилия"
        formControlName="name"
        name="name"
        maxLength="40"
        [errorStateMatcher]="matcher"
      />

      <mat-icon matSuffix class="text-gray-500">badge</mat-icon>
      <mat-error *ngIf="patientForm.get('name')?.hasError('required')">
        Пожалуйста введите имя и фамилию!
      </mat-error>
      <mat-error *ngIf="patientForm.get('name')?.hasError('pattern')">
        Имя и фамилия указываются только буквами!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ваш телефон</mat-label>
      <span matTextPrefix>+373 &nbsp;</span>
      <input
        type="text"
        matInput
        formControlName="phone"
        name="phone"
        [showMaskTyped]="true"
        mask="(000)-00-000"
        [errorStateMatcher]="matcher"
      />

      <mat-icon matSuffix class="text-gray-500">call</mat-icon>
      <mat-error *ngIf="patientForm.get('phone')?.hasError('required')">
        Пожалуйста введите телефон!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ваша почта (не обязательно)</mat-label>
      <input
        matInput
        type="email"
        placeholder="Адрес почты"
        formControlName="email"
        name="email"
        [errorStateMatcher]="matcher"
      />
      <mat-icon matSuffix class="text-gray-500">mail</mat-icon>
      <mat-error *ngIf="patientForm.get('email')?.hasError('email')">
        Пожалуйста введите существующий адрес!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Выберите дату</mat-label>
      <input
        matInput
        [min]="minDate"
        [matDatepicker]="picker"
        formControlName="date"
        name="date"
        readonly
        (click)="picker.open()"
        [errorStateMatcher]="matcher"
        (dateChange)="onChangeDate($event)"
        [matDatepickerFilter]="sundayAndDisabledDatesFilter"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="patientForm.get('date')?.hasError('required')">
        Пожалуйста выберите дату!
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="timeStatus">
      <mat-label>Выберите время</mat-label>
      <mat-select
        formControlName="time"
        name="time"
        panelClass="grid grid-cols-4 grid-rows-4 justify-items-center"
        [errorStateMatcher]="matcher"
      >
        <mat-option [value]="time" *ngFor="let time of arrTimes">{{
          time
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="patientForm.get('time')?.hasError('required')">
        Пожалуйста выберите время!
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="policy" color="primary">
      Я согласен(а) с
      <a routerLink="/policy"><strong>политикой конфиденциальности</strong></a>
    </mat-checkbox>
    <mat-error *ngIf="patientForm.get('policy')?.hasError('required')">
      Вы не согласились!
    </mat-error>

    <button type="submit" [disabled]="!patientForm.valid" mat-raised-button>
      <mat-icon class="text-gray-500">person_add</mat-icon>
      {{ buttonText | uppercase }}
    </button>
  </form>
</section>
